<nav class="app-header">
  <div class="logo-container">
    <span class="resume-logo">@</span>
    <h1>Matthew Hippely</h1>
  </div>
  <div class="actions-container">
    <img 
      src="/assets/images/github-mark.svg" 
      alt="The github octocat logo" 
      height="30" 
      width="30" />
    <a href="">github repo</a>
    <a href="">linked in</a>
    <a href="">personal site</a>
    <button>light/dark toggle</button>
  </div>
</nav>