<nav class="app-header">
  <div class="logo-container">
    <a href="/">
      <img class="invert-image" src="/assets/images/mjh-icon.png" alt="An abstract geometrical key about to go into a lock from right to left." height="30" width="30" />
      <h1>Matthew Hippely</h1>
    </a>
  </div>
  <div class="actions-container">
    <a href="https://github.com/hippee-lee/mjh-resume-ember" target="_blank">
        <img class="invert-image" src="/assets/images/github-mark.svg" alt="The github octocat logo" height="30" width="30" />
    </a>
    <a href="https://www.linkedin.com/in/hippely/" target="_blank">
      <img src="/assets/images/In-White-128.png" alt="The LinkedIn white logo" height="30" width="30" />
    </a>
  </div>
</nav>