/**
 * Create a title component that renders an <h1> which is
 * centered, deeppink and sized at 1.5em
 */
.app-header {
  display: flex;
  gap: var(--app-space-xs);
  justify-content: space-between;

  background-color: var(--app-foreground);
  color: var(--app-background);

  > * {
    background-color: var(--app-foreground);
    color: var(--app-background);

    & a {
      color: var(--app-background);
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .logo-container a,
  .actions-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 var(--app-container-padding);
  }
  .logo-container a {
    gap: var(--app-space-xs);
  }
  .actions-container {
    gap: var(--app-space-md);
  }

  .invert-image {
    filter: invert(1);
  }
}
