{{page-title "Matthew Hippely: 2023 Resume"}}

<Header />
<h1>Application.hbs</h1>
{{! The following component displays Ember's default welcome message. }}
{{!-- <WelcomePage /> --}}
{{! Feel free to remove this! }}

{{outlet}}