{{page-title "Community"}}
<h2>Many hands makes light work and better learning.</h2>
I created the Westlake Village JS Group in meetup in 2016 for two reasons. First, I was looking for a closer 
group of like minded developers but didn't always want to drive down to Los Angeles or out to Ventura. Second,
I wanted a place to practice my Toastmaster skills as I went through the Toastmaster Competent Communicator series.

<CategoryList 
  @title="Westlake Village JS Group 2016 - 2021" 
  @items={{@model}} 
/>

<ol>
  <li>What did I learn?</li>
  <li>When did I do this?</li>
  <li>Why did I do this?</li>
</ol>

{{outlet}}