{{page-title "Leadership"}}
<h2>Leadership is learning to</h2>
<ul>
  <li>Solve UI application problems, from build to production.</li>
  <li>Develop creative solutions and drive technical advancement.</li>
  <li>Collaborate with my teammates, cross-functionally and with the broader frontend community in general.</li>
  <li>Mentor and guid others with pairing, code reviews and design and architecture reviews.</li>
  <li>Adapt and continue to learn as the browser as a platform and its ecosystem of tools evolves.</li>
  <li>Research, analyze and present pro/cons along with the reasons for my technical choices.</li>
  <li>Own my work and dow what I say I'll do with regular communication to my stakeholders.</li>
  <li>Use empathy to improve UX/DX by putting myself in the place of users or developers consuming a library.</li>
</ul>
<p>Perhaps this is more of a personal essay: Leadership is ...</p>
{{outlet}}