{{page-title "Workshops"}}
<h2>Teaching Clarity was part of our strategy for adoption and version upgrades.</h2>
<p>I put together the Angular new grad workshops, the Clarity Core web components workshop and team specific workshops when they needed to upgrade specific version s of Clarity.</p>
{{outlet}}